//--------------------------------------
// Created: 29-11-2013
// Created by: Nicolaj Lund Nielsen
// Modifiers:
//--------------------------------------

// Font Setup
@import "less/_font";

// Core variables and mixins
@import "less/_variables";
@import "less/_mixins";

// Normalize
@import "less/_normalize";

/* ==============
    GENEREL ELEMENTS
   ============== */

body {
	margin: 0;
	padding: 0;
    color: @text-color;
	overflow-y: scroll;
	font: 12px Arial, Helvetica, sans-serif;
	background: @body-bg;
	line-height: 1.4;
}

::-moz-selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}

::selection {
	background: #faad17;
	color: #333132;
	text-shadow: none;
}

input, textarea:focus, input:focus {
	outline: 0;
	border: 0;
}

img {
	max-width:100%;
	height:auto;
}

/* ==============
    DIS/PLAY CSS
   ============== */
html {
	.box-sizing(border-box);
}
*, *:before, *:after {
	.box-sizing(inherit);
}
.site-content {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.page {
	overflow: hidden;
	.clearfix();
	h1, p {
		position: absolute;
		top: -100%;
		left: -100%;
	}
}
.col {
	width: 50%;
	float: left;
	padding-right: 1px;
	img {
		-webkit-animation: imageLeft 1s ease forwards;
		animation: imageLeft 1s ease forwards;
	}
	& + .col {
		padding-left: 1px;
		padding-right: 0;
		img {
			-webkit-animation: imageRight 1s ease forwards;
			animation: imageRight 1s ease forwards;
		}
	}
}
.image-wrap {
	> img {
		position: relative;
	}
}
@-webkit-keyframes imageLeft {
	from { top: -459px; }
	to { top: 0; }
}
@keyframes imageLeft {
	from { top: -459px; }
	to { top: 0; }
}
@-webkit-keyframes imageRight {
	from { bottom: -459px; }
	to { bottom: 0; }
}
@keyframes imageRight {
	from { bottom: -459px; }
	to { bottom: 0; }
}


// Helper classes
@import "less/_helpers";
